<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <title>INFLUENCERTABLE</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" type="text/css">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>

    <!-- header css Start -->
    <div class="header_top clearfix">
        <div class="container-fluid">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="header_right">
                <nav class="menu">
                    <div class="menuButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li><a href="#">Need help with search?</a></li>
                        <li><a href="about-us.html">Pricing</a></li>
                        <li><a href="#">Subscription</a></li>
                    </ul>
                </nav>
                <div class="header_menuright">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" class="search_box"><i class="zmdi zmdi-search"></i></a>

                    <a href="sign-up.html" class="sign_up"><i class="zmdi zmdi-account"></i> SignUp</a>
                    <a href="login.html" class="btn btn-primary">LOGIN</a>
                </div>
            </div>
        </div>
    </div>

    <!-- body area start -->
    <section class="mian-area">
        <div class="container-fluid">
            <div class="dashboard-area">
                <div class="row row-8">
                    <div class="col-lg-3">
                        <div class="left-panel">
                            <div class="profile">
                                <div class="icon"><img src="images/man.jpg" alt="man" /></div>
                                <h3>Mark Stephen<span>Web Designer</span></h3>
                            </div>
                            <div class="menu_area">
                                <h3>Menu</h3>
                                <ul>
                                    <li class="active"><a href="profile.html"><i class="zmdi zmdi-account-o"></i>Profile</a></li>
                                    <li><a href="table.html"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="dashboard_body">
                            <h3>Profile</h3>
                            <div class="row row-8">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Phone No.</label>
                                        <input type="text" class="form-control" placeholder="Phone No." />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control" placeholder="Subject" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary text-capitalize">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- body area stop -->

    <!-- footer css Start -->
    <footer class="footer_area">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="footer">
                        <h3>Our Services</h3>
                        <ul>
                            <li><a href="#">Need help with search?</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Subscription</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="mailto:info.influencertable.com">info.influencertable.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">© 2020 <strong>INFLUENCERTABLE</strong> . All Right Reserved</div>
    </footer>
    <!-- footer css stop -->

    <!-- search area -->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Narrow down your search with specific criteria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row row-8">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Category</label>
                                    <input type="text" class="form-control" placeholder="Category">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
    <script src="http://malsup.github.io/jquery.cycle2.scrollVert.js"></script>
    <script src="js/jquery.extra.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery(".menu li").find("ul").parent().append("<span></span>");
            jQuery(".menuButton").click(function() {
                jQuery(".menuButton").toggleClass("arrow_change");
                jQuery(".menuButton + ul").slideToggle();
            });
            jQuery(".menu ul li span").click(function() {
                if (jQuery("span").parent().children("ul").is(":visible")) {
                    jQuery(this).parent().siblings().children("ul").slideUp();
                }
                jQuery(this).parent().children("ul").slideToggle();
            });
        });

        jQuery(".myAccount span").click(function() {
            jQuery(".myAccount span").toggleClass("arrow_change");
            jQuery(".myAccountDropdown").slideToggle();
        });

    </script>


</body>

</html>
